@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes smoothGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.smooth-gradient {
  background: linear-gradient(125deg, #2aa9e0, #0653be, #03097d);
  background-size: 200% 200%;
  animation: smoothGradient 30s ease infinite;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
